<html>
<head>
<style>
  ul li, ol li {
     line-height:160%; /*or whatever height you like*/
}

</style>
</head>
<body>
<div style="height: 100% ; width: 100%; display: table">
        <div ng-if="RC.showMessage == 'none'" style="display: table-cell ; height: 100% ; vertical-align: middle ;">
            <div ng-if="RC.state == 'instructionsSlide'" class="panel panel-primary" style="width:90%; margin:auto">
                <div class="panel-heading" style="font-weight: bolder ;">Instructions</div>
                <div class="panel-body">
                    <p> <strong> {{RC.batchName}} </strong></p>
                    @_SHOW_INSTRUCTIONS_@
                    <button ng-click="RC.next()" type="button" class="btn btn-default" style="float:right ; margin-top:20px">Next</button>
                </div>
            </div>

            <div ng-if="RC.state == 'workerIdSlide'" class="panel panel-primary" style="width:90%; margin:auto">
                <div class="panel-heading" style="font-weight: bolder ;">Please enter your workerId into the box below:</div>
                <div class="panel-body">
                    <input id="workerId" ng-model="RC.workerId" name="workerId" type="text" class="form-control" placeholder="enter here">
                    <button ng-click="RC.next()" type="button" ng-disabled="RC.workerId == ''" class="btn btn-default" style="float:right ; margin-top:20px">Next</button>
                </div>
            </div>

            <div ng-if="RC.state == 'statisticsSlide'">
                <statistics-slide statistics="RC.statistics" click="RC.next"></statistics-slide>
            </div>

            <div id="experiment_content" ng-if="RC.state == 'questionSlide' && RC.questionIndex == $index" ng-repeat="question in RC.questions" style="width:90%; margin:auto">
                <!-- the main content of the experiment goes here -->
                <div id="experiment_panel_1" class="panel panel-primary">
                    <div id="experiment_heading_1" class="panel-heading" style="font-weight: bolder ;">Instructions</div>
                    <div id="experiment_body_1" class="panel-body">
                        <!--
                        Question's content goes here
                        -->

                        <p>
                          Do you agree or disagree with the discription below? Consider these examples:
                        </p>
                            <p><strong>agree</strong>: {{question.exampleTrue}}</p>
                            <p><strong>disagree</strong>: {{question.exampleFalse}}</p>
                        <!--
                        End of question
                        -->
                        <!--<button ng-click="RC.nextQuestion()" type="button" class="btn btn-default" style="float:right ; margin-top:20px">Next</button> -->
                        <!--
                        If you don't want to skip participants through your items, you should prevent them by checking if the input is empty. In that case the
                        button will be disabled. We use the "ng-disabled" attribute to achieve that. Below you find an example how that might look like:

                        <button ng-disabled="question.answer === undefined || question.answer === '' || question.answer == {}" ng-click="RC.nextQuestion()" type="button" class="btn btn-default" style="float:right ; margin-top:20px">Next</button>
                        -->
                    </div>

                </div>
                <!-- /the main content of the experiment goes here -->
                <!-- the main content of the experiment goes here -->
                <div id="experiment_panel_1" class="panel panel-primary">
                    <div id="experiment_heading_1" class="panel-heading" style="font-weight: bolder ;">Target description</div>
                    <div id="experiment_body_1" class="panel-body">
                        <!--
                        Question's content goes here
                        -->

                            <p>{{question.description}}</p>
                        <!--
                        End of question
                        -->
                        <div class="radio-inline">
                            <label><input id="statement1" type="radio" name="statement" class="questionRadio{{$index}}" data-ng-value="true" ng-model="question.answer[$index].answer">agree</label>
                        </div>
                        <div class="radio-inline">
                            <label><input id="statement2" type="radio" name="statement" class="questionRadio{{$index}}" data-ng-value="false" ng-model="question.answer[$index].answer">disagree</label>
                        </div>
                      </div>
                      </div>

                      <div id="experiment_panel_1" class="panel panel-primary">
                          <div id="experiment_heading_1" class="panel-heading" style="font-weight: bolder ;">Expected crowd-behavior</div>
                          <div id="experiment_body_1" class="panel-body">


                        <!--<radio-answer options= ['True', 'False'] answer="question.answer">  </radio-answer>-->
                        <div class="panel-heading">
                            What type of disagreement do you expect? </div>

                            <div class="checkbox">
                                <label><input id="disagreement1" type="checkbox" name="disagreement1" class="questionCheck{{$index}}"  ng-model="question.answer[$index].disagreement_vague"><p><b> Vague property </b> </p> The property is vague.
                                  <p>For example:<em> Usually, (a/an) leopard is not yellow, but there could be a highly unusual situation in which (a/an) leopard is yellow.</em></p>
                                  <p>Explanation: This depends on what we can count as yellow (e.g. Is a brownish yellow still yellow?).</label>
                            </div>
                            <div class="checkbox">
                                <label><input id="disagreement2" type="checkbox" name="disagreement2" class="questionCheck{{$index}}"  ng-model="question.answer[$index].disagreement_ambiguous_property"> <p> <b>Ambiguous property</b> </p> The property is ambiguous and not disambiguated in the context of the concept and description..
                                  <p>For example:<em> You can find (a/an) chutney which is hot. (A/an) chutney is usually either hot, a bit more or less hot or the opposite of hot.</em></p>
                                  <p>Explanation: In many contexts, it is probably clear that the temperature-meaning is more likely, but in this case, the spicy-meaning is also possible.</label>
                            </div>
                            <div class="checkbox">
                                <label><input id="disagreement3" type="checkbox" name="disagreement3" class="questionCheck{{$index}}"  ng-model="question.answer[$index].disagreement_conceptualization"> <p><b> Conceptualization </b></p> The description asks the participant to place the concept in a conceptual system. The answer depends on the conceptual system of the participant.
                                  <p>For example:<em> I know that (a/an) arrow can fly/be used for flying as most or all other things similar to (a/an) arrow fly.</em><p/>
                                  <p>Explanation: Arrow can be conceptualized as a projectile (leading to agree) or a weapon (leading to disagree) or something else.</p> </label>
                            </div>
                            <div class="checkbox">
                                <label><input id="disagreement4" type="checkbox" name="disagreement3" class="questionCheck{{$index}}"  ng-model="question.answer[$index].disagreement_odd_pair"><p><b> Odd pair </b></p> The combination of the property and concept is strange and confusing. This is always the case, regardless of the description.
                                  <p>For example:<em> You can find (a/an) recliner which is square. Square is one of a few possible shapes (a/an) recliner usually has. There is only a limited range of possible shapes.</em><p/>
                                  <p>Explanation: Recliners can have square parts, but they are not really square. You would not describe a recliner in terms of whether it is square. </p> </label>
                            </div>
                            <div class="checkbox">
                                <label><input id="disagreement4" type="checkbox" name="disagreement4" class="questionCheck{{$index}}"  ng-model="question.answer[$index].disagreement_odd_triple"> <p><b> Odd triple </b></p> The combination of the property, concept and description is strange and confusing.
                                  <p>For example:<em> I know that being yellow is necessary for many things (a/an) buttercup does or is used for.</em><p/>
                                  <p>Explanation: A buttercup does not have a specific use, a color does not really enable an activity. </p> </label>
                            </div>
                            <div class="checkbox">
                                <label><input id="disagreement5" type="checkbox" name="disagreement5" class="questionCheck{{$index}}"  ng-model="question.answer[$index].disagreement_ambiguous_concept"><p><b> Ambiguous concept </b></p> The concept is ambiguous and not disambiguated in the context of the property and description.
                                  <p>For example:<em> I know that (a/an) trumpeter can fly/be used for flying as most or all other things similar to (a/an) trumpeter fly.</em><p/>
                                  <p>Explanation: </p> Trumpeter can refer to a musician or a bird. In this case, you could aargue it is disambiguated by fly, but the bird-sense is probably less well known. </label>
                            </div>
                            <div class="checkbox">
                                <label><input id="disagreement6" type="checkbox" name="disagreement6" class="questionCheck{{$index}}"  ng-model="question.answer[$index].disagreement_specialized_knowledge"> <p> <b>Specialized knowledge </b></p> Answering this correctly requires specialized knowledge. It is likely that not all workers are aware of this.
                                  <p>For example:<em>  I think (a/an) carrot can be red, but this is rare or uncommon.</em><p/>
                                  <p>Explanation: </p> Red carrots exist, but this not very well-known. </label>
                            </div>
                            <div class="checkbox">
                                <label><input id="disagreement6" type="checkbox" name="disagreement7" class="questionCheck{{$index}}"  ng-model="question.answer[$index].disagreement_imagination"> <p> <b> Imagination</b></p> This depends on how creative and imaginative a participant is. This type of disagreement only matters for confusions between negatve relations (e.g. rare, unusual, impossible).
                                  <p>For example:<em>  I think there is a shovel which can roll/be used for rolling, but this is rare or uncommon. </em><p/>
                                  <p>Explanation: </p> An imaginative person will most likely imagine a situation in which a shovel is somehow rolling (e.g. down a hill), while a less creative person will probably reason that the shape of a shovel keeps it from rolling.  </label>
                            </div>
                            <div class="checkbox">
                                <label><input id="disagreement7" type="checkbox" name="disagreement7" class="questionCheck{{$index}}"  ng-model="question.answer[$index].disagreement_agreement">  <p> <b> Agreement </b> </p>  I expect agreement between competent workers who are taking the task seriously.
                            </div>


                            <!--data-ng-value="test3"-->


                        <div class="panel-heading">
                            <b> Other reasons for disagreement:</b> </div>
                        <div class="panel-body question">
                            <div class="form-group">
                                <blockquote id="reason"  name="reason" style="border-right : 5px solid #FF9500 ;">
                                    <textarea  ng-model="question.answer[$index].reason" type="text" class="form-control" id="fillerArea{{$index}}" style="resize : none" placeholder="List types of disagreement here if they are not included above."></textarea>
                                </blockquote>
                            </div>
                        </div>
                        <div class="panel-heading">
                          <b>  Comments </b> </div>
                        <div class="panel-body question">
                            <div class="form-group">
                                <blockquote id="comment" name = "comment" style="border-right : 5px solid #FF9500 ;">
                                    <textarea  ng-model="question.answer[$index].comment" type="text" class="form-control" id="fillerArea{{$index}}" style="resize : none" placeholder="optional field for comments"></textarea>
                                </blockquote>
                            </div>
                        </div>
                        <div class="button-group", style=" margin-top:20px" >
                          <button ng-click="RC.nextQuestion()" type="button" class="btn btn-default" ng-disabled="question.answer === undefined || question.answer == '' || question.answer == {}" style="margin-top:20px">Next</button>
                        </div>
                      </div>


                        <!-- ng-disabled="question.answer === undefined || question.answer == '' || question.answer == {}"-->
                        <!--
                        If you don't want to skip participants through your items, you should prevent them by checking if the input is empty. In that case the
                        button will be disabled. We use the "ng-disabled" attribute to achieve that. Below you find an example how that might look like:

                        <button ng-disabled="question.answer === undefined || question.answer === '' || question.answer == {}" ng-click="RC.nextQuestion()" type="button" class="btn btn-default" style="float:right ; margin-top:20px">Next</button>
                        -->
                    </div>
                </div>
                <!-- /the main content of the experiment goes here -->
            </div>
        </div>

        <div ng-if="RC.showMessage == 'nextSubList'" style="height : 100% ; width : 100% ; display : table ; position: absolute; top: 0; left: 0">
            <div style="display: table-cell ; height: 100% ; vertical-align: middle ;">
                <div style="width:90%; margin:auto">
                    <!-- <this message is shown if a user successfully finished a sublist> -->
                    <div class="panel panel-primary">
                        <!-- <the message's heading> -->
                        <div class="panel-heading" style="font-weight: bolder ;" id="nextSubList_title">Attention:</div>
                        <!-- </the message's heading> -->
                        <div class="panel-body">
                            <!-- <the message content> -->
                            <div id="nextSubList_message">
                            You've successfully completed a sublist. You may either stop here or continue with another one.
                            </div>
                            <!-- </the message content. please don't edit the buttons below (except their label)> -->
                            <hr/>
                            <button ng-click="RC.processFinish()" style="float:right; margin-left: 10px;" class="btn btn-default" type="button">Stop here</button>
                            <button ng-click="RC.nextSublist()" style="float:right" class="btn btn-default" type="button">Continue</button>
                        </div>
                    </div>
                    <!-- </this message is shown if a user successfully finished a sublist> -->
                </div>
            </div>
        </div>

        <div ng-if="RC.showMessage == 'goodBye'" style="height : 100% ; width : 100% ; display : table ; position: absolute; top: 0; left: 0">
            <div style="display: table-cell ; height: 100% ; vertical-align: middle ;">
                <div style="width:90%; margin:auto">
                    <div class="panel panel-primary">
                        <div id="goodBye_title" class="panel-heading" style="font-weight: bolder ;">Attention:</div>
                        <div class="panel-body">
                            <div id="goodBye_message">
                                You've successfully completed the experiment. Thank you for your participation. To hand in your submission, click on the "Submit"-button below.
                            </div>
                            <hr/>
                            <button ng-click="RC.finished()" style="float:right" class="btn btn-default" type="button">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>
