<!--old code (vertical checkboxes_:-->
<!--
    <style>
    .add-margin {
        margin-top:10px !important;
    }
</style>
<div>
    <div ng-init="loaded()" ng-class="{'add-margin': descriptionsAvailable}" class="checkbox" ng-repeat="opt in options track by $index">
        <label>
            <input ng-disabled="answer['none']" type="checkbox" ng-model="answer[opt]" ng-true-value="true" ng-false-value="false" name="checkbox-answer-input">
            <span>{{opt}}</span><br/>
            <span><i>{{descriptions[$index]}}</i></span>
        </label>
    </div>
</div>
//-->
<!--new code (horizontal checkboxes):-->
<style>
    .add-margin {
        margin-top:10px !important;
    }
</style>
<div>
    <div ng-init="loaded()" ng-class="{'add-margin': descriptionsAvailable}" class="checkbox-inline" ng-repeat="opt in options track by $index">
        <label style="direction:ltr;">
            <input ng-disabled="answer['none']" type="checkbox" ng-model="answer[opt]" ng-true-value="true" ng-false-value="false" name="checkbox-answer-input" display= "inline-block", style = "width: 15px; padding: 0; margin: 0; position: relative; top: 0px; align-items: center;">
            <span>{{opt}}</span><br/>
            <span><i>{{descriptions[$index]}}</i></span>
        </label>
      </div>

</div>
