<div>
  <div>
    <div style="height: 100%; width: 100%; display: table;">
      <div ng-if="RC.showMessage == 'none'" style="display: table-cell; height: 100%; vertical-align: middle;">
        <div ng-if="RC.state == 'instructionsSlide'" class="panel panel-primary" style="width: 90%; margin: auto;">
          <div class="panel-heading" style="font-weight: bolder;">Instructions</div>
          <div class="panel-body">
            @_SHOW_INSTRUCTIONS_@
            <button ng-click="RC.next()" type="button" class="btn btn-default" style="float: right; margin-top: 20px;">Next</button>
          </div>
        </div>

        <div ng-if="RC.state == 'workerIdSlide'" class="panel panel-primary" style="width: 90%; margin: auto;">
          <div class="panel-heading" style="font-weight: bolder;">Please enter your workerId into the box below:</div>
          <div class="panel-body">
            <input id="workerId" ng-model="RC.workerId" name="workerId" type="text" class="form-control" placeholder="enter here">
            <button ng-click="RC.next()" type="button" ng-disabled="RC.workerId == ''" class="btn btn-default" style="float: right; margin-top: 20px;">Next</button>
          </div>
        </div>

        <div ng-if="RC.state == 'statisticsSlide'">
          <statistics-slide statistics="RC.statistics" click="RC.next"></statistics-slide>
        </div>

        <div ng-if="RC.state == 'questionSlide' && RC.questionIndex == $index" ng-repeat="question in RC.questions" style="width: 90%; margin: auto;">
          <!-- <this part can also be replaced by a template or your own ideas> -->
          <div class="panel panel-primary">
            <div class="alert">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
              <strong>Attention!</strong> This study contains highly abusive language. Please do not proceed if you feel uncomfortable facing such content.
            </div>
            <div class="panel-heading" style="font-weight: bolder;">Instructions</div>
            <div class="panel-body">
              <!--
              Question's content goes here
              -->
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#collapse1">Click to expand</a>
                    </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                      <h2>Step 1: Preliminary Assessment of Targeting</h2>
<p>You will review comments/titles posted on Reddit that may contain inappropriate language. Your task is to identify if they target a specific person or group of people. You should first read the post text if there is any and follow these steps for each comment/title:
<ol>
    <li>Read the comment/title and assess whether it targets anyone.</li>
    <li>If the comment/title does not target someone, mark the comment/title as "not targeting". If the comment/title targets someone, proceed to <a href="#step2">Step 2</a>.</li>
</ol>

<h2 id="step2">Step 2: Determine the Targets</h2>
<p>In this step, you will decide whether the comment/title is targeting another person addressed in the conversation thread, the speaker themselves, or any other person/group.</p>
<h3>Examples:</h3>
<pre><p>another person addressed in the conversation thread: Sit the fuck down, you colossal piece of shit.</p>
<p>speaker: Stupid me did not press the record button.</p>
<p>other target: They should all be ashamed of themselves.</p>
</pre>


<h2>Steps 3-4: Identify Target Categories and Their Reference Words</h2>
<p>Now determine if a person or group is targeted based on certain charactersitics known as target categories by identifying them. Mark all the words in the comment/title that refer to the identified target categories.</p>
<h3>Examples:</h3>
<ol>
    <li>
      <pre><p>sexual orientation: Gay men refuse to fuck like any other person.</p>
      <p>reference words: Gay, men</p>
      <p>gender: This person is a cisgender man pretending to be a woman to sell his shitty blog.</p>
      <p>reference words: cisgender, man</p>
      <p>disability: Why are you just sitting there like a mentally paralyzed person?</p>
      <p>reference words: mentally, paralyzed</p>
      <p>age: He still acts like a child.</p>
      <p>reference words: child</p>
      <p>race, ethnicity, or nationality: I don’t give a fuck if you are Asian.</p>
      <p>reference words: Asian</p>
      <p>religion: I literally hate Christians so much.</p>
      <p>reference words: Christians</p>
      <p>famous individual: How embarrassing Serena Williams was at the US open when she lost to Osaka.</p>
      <p>reference words: Serena, Williams </p>
      <p>political affiliation: Good morning to everyone who isn't a liberal fuck!</p>
      <p>reference words: liberal </p></pre>
    </li>
</ol>
<p>Note: If a comment/title targets multiple categories, mark all reference words for all categories.</p>
<h3>Example:</h3>
<ol>
    <li>
      <pre><p>sexual orientation, famous individual: Fuck Pitbull and Ne-Yo gay ass</p>
      <p>reference words: Putbull, Ne-Yo, gay </p></pre>
    </li>
</ol>
<p>In case a target category isn't listed, mark it as "other target category."</p>
                      <p>If you have any questions or feedback, please contact <b>Baran Barbarestani</b> via <b>b.barbarestani@vu.nl</b>. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading" style="font-weight: bolder;">{{"Text"}}</div>
            <span style="display: block; margin-bottom: 10px; margin-top: 15px; margin-left: 20px;"><strong>Title: </strong>{{question.title_text}}</span>
            <span style="display: block; margin-bottom: 10px; margin-top: 15px; margin-left: 20px;"><strong>Post text: </strong>{{question.post_text}}</span>
            <span style="display: block; margin-bottom: 10px; margin-top: 15px; margin-left: 20px;"><strong>Previous comments: </strong><span ng-bind-html="question.context"></span></span>
            <span style="display: block; margin-bottom: 10px; margin-top: 15px; margin-left: 20px;"><strong>User ID: </strong>{{question.user_id}}</span>
<span style="display: block; margin-bottom: 10px; margin-top: 15px; margin-left: 20px;"><strong>Comment </strong><strong>{{question.comment_number}}</strong><strong>: </strong>{{question.comment}}</span>

<div class="panel-heading" style="font-weight: bolder;">Step 1: Preliminary Assessment of Targeting</div>
<checkbox-answer style="display: block; margin-bottom: 10px; font-weight: bolder; margin-top: 15px;" options="['_not targeting']" answer="question.answer"></checkbox-answer>
<div class="panel-heading" style="font-weight: bolder;">Step 2: Determine the Targets</div>
<checkbox-answer style="display: block; margin-bottom: 10px; font-weight: bolder; margin-top: 15px;" options="['_another person addressed in the conversation thread', '_speaker', '_other target']" answer="question.answer"></checkbox-answer>
<div class="panel-heading" style="font-weight: bolder;">Step 3: Identify Target Categories</div>
<checkbox-answer style="display: block; margin-bottom: 10px; font-weight: bolder; margin-top: 15px;" options="['_sexual orientation', '_gender', '_disability', '_age', '_race', '_religion', '_famous individual', '_political affiliation', '_other target category']" answer="question.answer"></checkbox-answer>
<div class="panel-heading" style="font-weight: bolder;">Step 4: Identify the Reference Words of Target Categories</div>
<checkbox-answer style="display: block; margin-bottom: 10px; font-weight: bolder; margin-top: 15px;" options="question.comment_text" answer="question.answer"></checkbox-answer>
<!-- End of question -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <button ng-click="RC.nextQuestion()" type="button" class="btn btn-default" ng-disabled="!isAtLeastOneCheckboxSelected(question.answer)" style="margin-top: 20px; float: left;">Next</button>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- </this part can also be replaced by a template or your own ideas> -->
</div>
</div>

<div ng-if="RC.showMessage == 'nextSubList'" style="height: 100%; width: 100%; display: table; position: absolute; top: 0; left: 0;">
<div style="display: table-cell; height: 100%; vertical-align: middle;">
<div style="width: 90%; margin: auto;">
<!-- <this message is shown if a user successfully finished a sublist> -->
<div class="panel panel-primary">
<!-- <the message's heading> -->
<div class="panel-heading" style="font-weight: bolder;" id="nextSubList_title">Attention:</div>
<!-- </the message's heading> -->
<div class="panel-body">
<!-- <the message content> -->
<div id="nextSubList_message">
You've successfully completed a sublist. You may either stop here or continue with another one.


                      </div>
                      <!-- </the message content. please don't edit the buttons below (except their label)> -->
                      <hr/>
                      <button ng-click="RC.processFinish()" style="float:right ; margin-left: 10px ;" class="btn btn-default" type="button">Stop here</button>
                      <button ng-click="RC.nextSublist()" style="float:right" class="btn btn-default" type="button">Continue</button>
                  </div>
              </div>
              <!-- </this message is shown if a user successfully finished a sublist> -->
          </div>
      </div>
  </div>
  <div ng-if="RC.showMessage == 'goodBye'" style="height : 100% ; width : 100% ; display : table ; position: absolute ; top: 0 ; left: 0">
      <div style="display: table-cell ; height: 100% ; vertical-align: middle ;">
          <div style="width:90% ; margin:auto">
              <div class="panel panel-primary">
                  <div id="goodBye_title" class="panel-heading" style="font-weight: bolder ;">Attention:</div>
                  <div class="panel-body">
                      <div id="goodBye_message">
                          You've successfully completed the experiment. Thank you for your participation. To hand in your submission, click on the "Submit"-button below.
                      </div>
                      <hr/>
                      <button ng-click="RC.finished()" style="float:right" class="btn btn-default" type="button">Submit</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
