<div style="height: 100% ; width: 100%; display: table">
    <div ng-if="RC.showMessage == 'none'" style="display: table-cell ; height: 100% ; vertical-align: middle ;">
        <div ng-if="RC.state == 'instructionsSlide'" class="panel panel-primary" style="width:90%; margin:auto">
            <div class="panel-heading" style="font-weight: bolder ;">Instructions</div>
            <div class="panel-body">
                <h4>The task</h4>
                <p>In this task, you will be presented with:</p>

                <ol>
                    <li>a full SENTENCE written by JOHN, optionally quoting some other PEOPLE/SOURCES</li>
                    <li>an independent STATEMENT</li>
                </ol>

                <p>Please indicate whether JOHN would AGREE or DISAGREE with the statement.<br>

                    If there are other PEOPLE/SOURCES quoted in the sentence, please
                    indicate their opinion with respect to the statement as well.</p>

                <h4>The labels</h4>
                <table class="table table-condensed table-borderless table-responsive" style="font-size:small;">
                    <tbody>
                    </tbody>
                    <colgroup>
                        <col class="col-xs-1" />
                        <col class="col-xs-4" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>AGREEMENT</td>
                            <td>If John beliefs what is in the sentence, he must believe that the statement
                                is true.</td>
                        </tr>
                        <tr>
                            <td>DISAGREEMENT</td>
                            <td>If John beliefs what is in the sentence, he must believe that the statement
                                is false.</td>
                        </tr>
                        <tr>
                            <td>PARTIAL AGREEMENT</td>
                            <td>If John beliefs what is in the sentence, he must believe that the statement
                                is only partially true.</td>
                        </tr>
                        <tr>
                            <td>I CANNOT TELL</td>
                            <td>The statement is about something else than the sentence, or it cannot be determined what
                                John believes to be true.</td>
                        </tr>
                    </tbody>
                </table>

                <h4>Important</h4>
                <p> Base your question only on what is written in the text. Try not to guess
                    based on what you know about pro- and anti-vaccine beliefs. For example:</p>

                <ol>
                    <li>I am convinced that vaccines are 100% safe.</li>
                </ol>

                <p> From this sentence, we can infer that John would disagree with a statement
                    like "vaccines cause dangerous side effects". <br>
                    After all, the statements "vaccines are 100% safe" and
                    "vaccines cause dangerous side effects" cannot be true at the same time.</p>

                <p> However, even though John is likely pro-vaccination, we CANNOT infer that John
                    agrees with a statement like "vaccines are effective". <br>
                    After all, the safety and effectiveness of vaccines are two different topics,
                    so John could believe that vaccines are safe but ineffective at the same time.
                </p>

                <div class="panel-group">
                    <div class="panel panel-secondary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1">Examples (click to expand)</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">

                                <!-- EXAMPLE -->
                                <h4>Sentences WITHOUT quoted people/sources:</h4>
                                <table class="table table-condensed table-striped table-responsive"
                                    style="font-size:small;">
                                    <tbody>
                                    </tbody>
                                    <colgroup>
                                        <col class="col-xs-6" />
                                        <col class="col-xs-2" />
                                        <col class="col-xs-4" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>JOHN WROTE:</th>
                                            <th>STATEMENT</th>
                                            <th>CORRECT ANSWER</th>
                                        </tr>
                                        <tr>
                                            <td>There is a clear causal relation between vaccines and ASD.</td>
                                            <td>vaccines cause autism</td>
                                            <td>John AGREES with the statement</td>
                                        </tr>
                                        <tr>
                                            <td>Vaccines protect against infectious diseases that can cause serious
                                                illness.
                                            </td>
                                            <td>vaccines are effective</td>
                                            <td>John AGREES with the statement</td>
                                        </tr>
                                        <tr>
                                            <td>It has not been proven that vaccines are safe.</td>
                                            <td>vaccines are safe</td>
                                            <td>John DISAGREES with the statement</td>
                                        </tr>
                                        <tr>
                                            <td>There is a clear causal relation between vaccines and ASD.</td>
                                            <td>vaccines are safe</td>
                                            <td>John DISAGREES with the statement</td>
                                        </tr>
                                        <tr>
                                            <td>The vaccination is less effective in patients with HIV.</td>
                                            <td>vaccines are effective</td>
                                            <td>John ONLY PARTIALLY AGREES with the statement</td>
                                        </tr>
                                        <tr>
                                            <td>In rare cases, vaccines could produce side effects.</td>
                                            <td>vaccines are safe</td>
                                            <td>John ONLY PARTIALLY AGREES with the statement</td>
                                        </tr>
                                        <tr>
                                            <td>Vaccines don't work 100% of the time.</td>
                                            <td>vaccines are safe</td>
                                            <td>John -- I cannot tell</td>
                                        </tr>
                                        <tr>
                                            <td>It's not entirely clear whether vaccines really work.</td>
                                            <td>vaccines are effective</td>
                                            <td>John -- I cannot tell</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h4>Sentences WITH quoted people/sources:</h4>
                                <table class="table table-condensed table-striped table-responsive"
                                    style="font-size:small;">
                                    <tbody>
                                    </tbody>
                                    <colgroup>
                                        <col class="col-xs-6" />
                                        <col class="col-xs-2" />
                                        <col class="col-xs-4" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>JOHN WROTE:</th>
                                            <th>STATEMENT</th>
                                            <th>CORRECT ANSWER</th>
                                        </tr>
                                        <tr>
                                            <td>According to <span style="color:blue">Andrew Wakefield</span>, vaccines
                                                cause ASD.</td>
                                            <td>vaccines are safe</td>
                                            <td><span style="color:blue">Andrew Wakefield</span> DISAGREES with the
                                                statement
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>According to <span style="color:blue">Andrew Wakefield</span>, vaccines
                                                cause ASD.</td>
                                            <td>vaccines are safe</td>
                                            <td><span style="color:blue">John</span> -- I cannot tell</td>
                                        </tr>
                                        <tr>
                                            <td><span style="color:blue">Many parents</span> believe the debunked theory
                                                that vaccines cause autism.</td>
                                            <td>vaccines cause autism</td>
                                            <td><span style="color:blue">Many parents</span> AGREES with the statement
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span style="color:blue">Many parents</span> believe the debunked theory
                                                that vaccines cause autism.</td>
                                            <td>vaccines cause autism</td>
                                            <td><span style="color:blue">John</span> DISAGREES with the statement</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>





                <button ng-click="RC.next()" type="button" class="btn btn-default"
                    style="float:right ; margin-top:20px">Next</button>
            </div>
        </div>

        <div ng-if="RC.state == 'workerIdSlide'" class="panel panel-primary" style="width:90%; margin:auto">
            <div class="panel-heading" style="font-weight: bolder ;">Please enter your workerId into the box below:
            </div>
            <div class="panel-body">
                <input id="workerId" ng-model="RC.workerId" name="workerId" type="text" class="form-control"
                    placeholder="enter here">
                <button ng-click="RC.next()" type="button" ng-disabled="RC.workerId == ''" class="btn btn-default"
                    style="float:right ; margin-top:20px">Next</button>
            </div>
        </div>

        <div ng-if="RC.state == 'statisticsSlide'">
            <statistics-slide statistics="RC.statistics" click="RC.next"></statistics-slide>
        </div>

        <div id="experiment_content" ng-if="RC.state == 'questionSlide' && RC.questionIndex == $index"
            ng-repeat="question in RC.questions" style="width:90%; margin:auto">
            <!-- the main content of the experiment goes here -->

            <div class="panel-group">
                <div class="panel panel-secondary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">Instructions (click to expand)</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">

                            <h4>The task</h4>
                            <p>In this task, you will be presented with:</p>

                            <ol>
                                <li>a full SENTENCE written by JOHN, optionally quoting some other PEOPLE/SOURCES</li>
                                <li>an independent STATEMENT</li>
                            </ol>

                            <p>Please indicate whether JOHN would AGREE or DISAGREE with the statement.<br>

                                If there are other PEOPLE/SOURCES quoted in the sentence, please
                                indicate their opinion with respect to the statement as well.</p>

                            <h4>The labels</h4>
                            <table class="table table-condensed table-borderless table-responsive"
                                style="font-size:small;">
                                <tbody>
                                </tbody>
                                <colgroup>
                                    <col class="col-xs-1" />
                                    <col class="col-xs-4" />
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td>AGREEMENT</td>
                                        <td>If John beliefs what is in the sentence, he must believe that the statement
                                            is true.</td>
                                    </tr>
                                    <tr>
                                        <td>DISAGREEMENT</td>
                                        <td>If John beliefs what is in the sentence, he must believe that the statement
                                            is false.</td>
                                    </tr>
                                    <tr>
                                        <td>PARTIAL AGREEMENT</td>
                                        <td>If John beliefs what is in the sentence, he must believe that the statement
                                            is only partially true.</td>
                                    </tr>
                                    <tr>
                                        <td>I CANNOT TELL</td>
                                        <td>The statement is about something else than the sentence, or it cannot be
                                            determined what
                                            John believes to be true.</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h4>Important</h4>
                            <p> Base your question only on what is written in the text. Try not to guess
                                based on what you know about pro- and anti-vaccine beliefs. For example:</p>

                            <ol>
                                <li>I am convinced that vaccines are 100% safe.</li>
                            </ol>

                            <p> From this sentence, we can infer that John would disagree with a statement
                                like "vaccines cause dangerous side effects". <br>
                                After all, the statements "vaccines are 100% safe" and
                                "vaccines cause dangerous side effects" cannot be true at the same time.</p>

                            <p> However, even though John is likely pro-vaccination, we CANNOT infer that John
                                agrees with a statement like "vaccines are effective". <br>
                                After all, the safety and effectiveness of vaccines are two different topics,
                                so John could believe that vaccines are safe but ineffective at the same time.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-secondary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2">Examples (click to expand)</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">

                            <!-- EXAMPLE -->
                            <h4>Sentences WITHOUT quoted people/sources:</h4>
                            <table class="table table-condensed table-striped table-responsive"
                                style="font-size:small;">
                                <tbody>
                                </tbody>
                                <colgroup>
                                    <col class="col-xs-6" />
                                    <col class="col-xs-2" />
                                    <col class="col-xs-4" />
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>JOHN WROTE:</th>
                                        <th>STATEMENT</th>
                                        <th>CORRECT ANSWER</th>
                                    </tr>
                                    <tr>
                                        <td>There is a clear causal relation between vaccines and ASD.</td>
                                        <td>vaccines cause autism</td>
                                        <td>John AGREES with the statement</td>
                                    </tr>
                                    <tr>
                                        <td>Vaccines protect against infectious diseases that can cause serious illness.
                                        </td>
                                        <td>vaccines are effective</td>
                                        <td>John AGREES with the statement</td>
                                    </tr>
                                    <tr>
                                        <td>It has not been proven that vaccines are safe.</td>
                                        <td>vaccines are safe</td>
                                        <td>John DISAGREES with the statement</td>
                                    </tr>
                                    <tr>
                                        <td>There is a clear causal relation between vaccines and ASD.</td>
                                        <td>vaccines are safe</td>
                                        <td>John DISAGREES with the statement</td>
                                    </tr>
                                    <tr>
                                        <td>The vaccination is less effective in patients with HIV.</td>
                                        <td>vaccines are effective</td>
                                        <td>John ONLY PARTIALLY AGREES with the statement</td>
                                    </tr>
                                    <tr>
                                        <td>In rare cases, vaccines could produce side effects.</td>
                                        <td>vaccines are safe</td>
                                        <td>John ONLY PARTIALLY AGREES with the statement</td>
                                    </tr>
                                    <tr>
                                        <td>Vaccines don't work 100% of the time.</td>
                                        <td>vaccines are safe</td>
                                        <td>John -- I cannot tell</td>
                                    </tr>
                                    <tr>
                                        <td>It's not entirely clear whether vaccines really work.</td>
                                        <td>vaccines are effective</td>
                                        <td>John -- I cannot tell</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h4>Sentences WITH quoted people/sources:</h4>
                            <table class="table table-condensed table-striped table-responsive"
                                style="font-size:small;">
                                <tbody>
                                </tbody>
                                <colgroup>
                                    <col class="col-xs-6" />
                                    <col class="col-xs-2" />
                                    <col class="col-xs-4" />
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>JOHN WROTE:</th>
                                        <th>STATEMENT</th>
                                        <th>CORRECT ANSWER</th>
                                    </tr>
                                    <tr>
                                        <td>According to <span style="color:blue">Andrew Wakefield</span>, vaccines
                                            cause ASD.</td>
                                        <td>vaccines are safe</td>
                                        <td><span style="color:blue">Andrew Wakefield</span> DISAGREES with the
                                            statement
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>According to <span style="color:blue">Andrew Wakefield</span>, vaccines
                                            cause ASD.</td>
                                        <td>vaccines are safe</td>
                                        <td><span style="color:blue">John</span> -- I cannot tell</td>
                                    </tr>
                                    <tr>
                                        <td><span style="color:blue">Many parents</span> believe the debunked theory
                                            that vaccines cause autism.</td>
                                        <td>vaccines cause autism</td>
                                        <td><span style="color:blue">Many parents</span> AGREES with the statement</td>
                                    </tr>
                                    <tr>
                                        <td><span style="color:blue">Many parents</span> believe the debunked theory
                                            that vaccines cause autism.</td>
                                        <td>vaccines cause autism</td>
                                        <td><span style="color:blue">John</span> DISAGREES with the statement</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>


            <div id="experiment_panel_1" class="panel panel-primary">
                <div id="experiment_heading_1" class="panel-heading" style="font-weight: bolder ;">
                    Read the sentence.
                </div>
                <div id="experiment_body_1" class="panel-body">
                    <!--
                        Question's content goes here
                        -->
                    <!-- {{question}} -->
                    <div class="row" id="Content">
                        <center>
                            <fieldset>
                                <!--<legend>Read the following texts and pay attention to the highlighted statements:</legend>-->
                                <div class="col-md-6">
                                    <legend>JOHN WROTE:</legend>
                                    <div class="passage" id="sentence" ng-bind-html="question.sentence_html"></div>
                                </div>

                                <div class="col-md-6">
                                    <legend>STATEMENT</legend>
                                    <div class="passage" id="passage">{{question.statement}}</div>
                                </div>
                            </fieldset>
                        </center>
                    </div>


                    <br>
                    <br>

                    <div class="row">
                        <center>
                            <legend>Which of the following is true?
                        </center>
                    </div>
                    <div class="row">
                        <label class="col-md-5" for="selectbasic" style="font-weight:normal">
                            <H5 align="right">
                                <span style="font-family:verdana;color:blue">
                                    John (the author)
                                </span>
                            </H5>
                        </label>
                        <div class="col-md-5">
                            <select id="agreeOrDisagree" name="agreeOrDisagree" class="form-control"
                                ng-model="question0.answer">
                                <option value="" selected disabled hidden> -- select an option --
                                </option>
                                <option value="agree">AGREES with the statement</option>
                                <option value="disagree">DISAGREES with the statement</option>
                                <option value="partially_agree">ONLY PARTIALLY AGREES with the statement</option>
                                <option disabled>──────────</option>
                                <option value="uncertain">I cannot tell</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="visibility:{{question.visibility1}}">
                        <label class="col-md-5" for="selectbasic" style="font-weight:normal">
                            <H5 align="right">
                                <span style="font-family:verdana;color:blue">
                                    {{question.source1}}
                                </span>
                            </H5>
                        </label>
                        <div class="col-md-5">
                            <select id="agreeOrDisagree" name="agreeOrDisagree" class="form-control"
                                ng-model="question1.answer">
                                <option value="" selected disabled hidden> -- select an option --
                                </option>
                                <option value="agree">AGREES with the statement</option>
                                <option value="disagree">DISAGREES with the statement</option>
                                <option value="partially_agree">ONLY PARTIALLY AGREES with the statement</option>
                                <option disabled>──────────</option>
                                <option value="uncertain">I cannot tell</option>
                            </select>
                        </div>
                    </div>

                    <div class="row" style="visibility:{{question.visibility2}}">
                        <label class="col-md-5" for="selectbasic" style="font-weight:normal">
                            <H5 align="right">
                                <span style="font-family:verdana;color:blue">
                                    {{question.source2}}
                                </span>
                            </H5>
                        </label>
                        <div class="col-md-5">
                            <select id="agreeOrDisagree" name="agreeOrDisagree" class="form-control"
                                ng-model="question2.answer">
                                <option value="" selected disabled hidden> -- select an option --
                                </option>
                                <option value="agree">AGREES with the statement</option>
                                <option value="disagree">DISAGREES with the statement</option>
                                <option value="partially_agree">ONLY PARTIALLY AGREES with the statement</option>
                                <option disabled>──────────</option>
                                <option value="uncertain">I cannot tell</option>
                            </select>
                        </div>
                    </div>

                    <div class="row" style="visibility:{{question.visibility3}}">
                        <label class="col-md-5" for="selectbasic" style="font-weight:normal">
                            <H5 align="right">
                                <span style="font-family:verdana;color:blue">
                                    {{question.source3}}
                                </span>
                            </H5>
                        </label>
                        <div class="col-md-5">
                            <select id="agreeOrDisagree" name="agreeOrDisagree" class="form-control"
                                ng-model="question3.answer">
                                <option value="" selected disabled hidden> -- select an option --
                                </option>
                                <option value="agree">AGREES with the statement</option>
                                <option value="disagree">DISAGREES with the statement</option>
                                <option value="partially_agree">ONLY PARTIALLY AGREES with the statement</option>
                                <option disabled>──────────</option>
                                <option value="uncertain">I cannot tell</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <p style="text-align:center;font-size:80%;color:red">
                            &#9432; Base your answer only on what is written in the text. <br>
                            Try not to guess based on what you know about pro- or anti-vaccine beliefs.</p>
                    </div>

                    <!--
                        End of question
                        -->
                    <button
                        ng-disabled="question0.answer === undefined || (question.visibility1 === 'visible' && question1.answer === undefined) || (question.visibility2 === 'visible' && question2.answer === undefined) || (question.visibility3 === 'visible' && question3.answer === undefined)"
                        ng-click="RC.nextQuestion()" type="button" class="btn btn-default"
                        style="float:right ; margin-top:20px">Next</button>
                    <!--
                        If you don't want to skip participants through your items, you should prevent them by checking if the input is empty. In that case the
                        button will be disabled. We use the "ng-disabled" attribute to achieve that. Below you find an example how that might look like:

                        <button ng-disabled="question.answer === undefined || question.answer === '' || question.answer == {}" ng-click="RC.nextQuestion()" type="button" class="btn btn-default" style="float:right ; margin-top:20px">Next</button>
                        -->
                </div>
            </div>
            <!-- /the main content of the experiment goes here -->
        </div>
    </div>

    <div ng-if="RC.showMessage == 'nextSubList'"
        style="height : 100% ; width : 100% ; display : table ; position: absolute; top: 0; left: 0">
        <div style="display: table-cell ; height: 100% ; vertical-align: middle ;">
            <div style="width:90%; margin:auto">
                <!-- <this message is shown if a user successfully finished a sublist> -->
                <div class="panel panel-primary">
                    <!-- <the message's heading> -->
                    <div class="panel-heading" style="font-weight: bolder ;" id="nextSubList_title">Attention:</div>
                    <!-- </the message's heading> -->
                    <div class="panel-body">
                        <!-- <the message content> -->
                        <div id="nextSubList_message">
                            You've successfully completed a sublist. You may either stop here or continue with
                            another
                            one.
                        </div>
                        <!-- </the message content. please don't edit the buttons below (except their label)> -->
                        <hr />
                        <button ng-click="RC.processFinish()" style="float:right; margin-left: 10px;"
                            class="btn btn-default" type="button">Stop here</button>
                        <button ng-click="RC.nextSublist()" style="float:right" class="btn btn-default"
                            type="button">Continue</button>
                    </div>
                </div>
                <!-- </this message is shown if a user successfully finished a sublist> -->
            </div>
        </div>
    </div>

    <div ng-if="RC.showMessage == 'goodBye'"
        style="height : 100% ; width : 100% ; display : table ; position: absolute; top: 0; left: 0">
        <div style="display: table-cell ; height: 100% ; vertical-align: middle ;">
            <div style="width:90%; margin:auto">
                <div class="panel panel-primary">
                    <div id="goodBye_title" class="panel-heading" style="font-weight: bolder ;">Attention:</div>
                    <div class="panel-body">
                        <div id="goodBye_message">
                            You've successfully completed the experiment. Thank you for your participation. To hand
                            in
                            your submission, click on the "Submit"-button below.
                        </div>
                        <hr />
                        <button ng-click="RC.finished()" style="float:right" class="btn btn-default"
                            type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>